<div class="card">
  <div class="card-image">
    <!-- Remove "/public" in the src attribute -->
    <img src="/images/<%= entry.id %>" alt="Article Image">
  </div>
  <div class="card-content">
    <h2 class="card-heading"> <%= entry.title %> </h2>
  
    <p class="card-subheading"><%= entry.subheading %> | <%= entry.created_at %></p>
    <p class="card-tags">#cart</p>
  
  </div>
</div>