<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create Entry</title>
    <!-- If "public" is served statically, then "style.css" is at "/css/style.css" -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- Include header dynamically -->
    <%- include('partials/header.ejs') %>
    <center> <p id="message" class="border-danger text-danger p-3 text-center "> </p></center>
    <div class="d-flex justify-content-center">

      <section class="create-section">
        <h1>Create a New Entry</h1>

        <form
          id="createForm"
          method="POST"
          action="/addpage"
          enctype="multipart/form-data"
        >
          <div>
            <label class="form-control" for="title">Title</label>
            <input
              class="form-control"
              type="text"
              id="title"
              name="title"
              required
            />

            <label class="form-control" for="subheading">Subheading</label>
            <input
              class="form-control"
              type="text"
              id="subheading"
              name="subheading"
            />

            <label class="form-control" for="description"
              >Add Description</label
            >
            <textarea
              class="form-control"
              id="description"
              name="description"
              required
            ></textarea>

            <label for="entryDate">Entry Date</label>
            <input
              id="entryDate"
              class="form-control"
              type="date"
              name="entryDate"
              required
            />
            <label for="endDate">End Date</label>
            <input
              id="endDate"
              class="form-control"
              type="date"
              name="endDate"
              required
            />
          </div>

          <div class="image-upload">
            <img
              src="/images/placeholder.jpg"
              alt="Placeholder"
              class="preview-image"
            />

            <input id="image" accept="image/*"  type="file" name="image" id="imageFile" multiple />
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </section>
    </div>

    <!-- Include header dynamically -->
    <%- include('partials/footer.ejs') %>
  </body>
</html>


