<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Προσθήκη</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <script>
    function showAlert() {  
               const urlParams = new URLSearchParams(window.location.search);  
               if (urlParams.has('success')) {  
                   alert("Your message was sent successfully!");  
               }  
           }  
   
   </script>
  <body onload="showAlert()">
    <!-- Include header dynamically -->
    <%- include('partials/header.ejs') %>
<section class="contact-section">
<p>
    We'd love to hear from you! Whether you have questions, feedback, or just want to say hello, fill out the form below, and we'll get back to you as soon as we can.
</p>

<form action="/send" method="POST">  
    <div class="mb-3">
        <label class="form-label" for="subject_contact">Subject</label>
        <input class="form-control" type="text" id="subject_contact" name="subject_contact" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="email_contact">Email</label>
        <input class="form-control" type="email" id="email_contact" name="email_contact" required>
    </div>
    <div class="mb-3">
        <label for="msg_contact" class="form-label">Your message</label>
        <textarea class="form-control" rows="8" name="msg_contact" id="msg_contact"></textarea>
    </div>
<button class="btn btn-md btn-primary"> Sent message</button>
</form>

</section>
    <!-- Repeat more cards as needed -->
    <%- include('partials/footer.ejs') %>
  </body>
</html>
