
 <!-- Include header dynamically -->  
 <%- include('partials/header.ejs') %> 
 
  <section class="details-section mt-5">
    <!-- If placeholder.jpg is in "public/images", 
         then src="/images/placeholder.jpg" is correct -->
    <img src="/images/placeholder.jpg" alt="Placeholder" class="details-image">

    <div class="details-content">
      <h1>RECYCLE REUSE</h1>
      <p class="details-meta">Posted on: 12/10/2023 | Category: Environment</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nunc a dolor id risus consectetur blandit. Suspendisse potenti...
        <!-- longer text here -->
      </p>
    </div>
  </section>

  <%- include('partials/footer.ejs') %>  
