/* style.css */
:root {
  --boxshadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  --formbg: #ffffffcc;
}
/* Reset or basic setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.8px;
}

html,
body {
  height: 100%;
  margin: 0;
}
footer {
  box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px -1px 2px 0px;
}
header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
section {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  min-height: 100vh; /* Ensures the footer is at the bottom of the viewport */
}
.contact-section {
  max-width: 550px;
  margin: 0 auto;
}
.contact-section form {
  padding: 15px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 8px;
}
.contact-section p {
  margin: 70px 0;
}
.messages {
  list-style: none;
  border-radius: 8px;
  padding: 6px;
  margin: 3px 0;
  box-shadow: var(--boxshadow);
  letter-spacing: 0.8px;
}

img,
svg,
a,
p {
  color: rgb(28 101 167);
  fill: rgb(28 101 167);
}
a {
  text-decoration: none !important;
}
h5 {
  text-transform: capitalize;
}
.primary {
  background-color: rgb(28 101 167);
}
body {
  font-family: Arial, sans-serif; /* or whichever font from Figma */
  background-color: #b3e6f36e !important; /* your Figma background color (light blue) */
  color: #333;
}
main {
  flex: 1; /* This allows the main content area to grow and fill available space */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #63c7e3;
  padding: 1rem;
}
.nav-item {
  width: fit-content;
  padding: 5px;
  margin: 0 auto;
  border-radius: 0.25rem;
}
.nav-item:hover {
  background-color: #0d6efd36;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.nav-item a {
  padding: 3px;
}
.nav-link {
  text-wrap-mode: nowrap;
  text-align: center;
}
footer {
  background-color: #63c7e3;
  bottom: 0;
  position: relative;
  width: 100%;
  margin-top: 5%;
}
.bi {
  vertical-align: -0.125em;
  fill: rgb(82, 86, 88);
}
.home-icon {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  margin-right: 1rem;
}
#user {
  text-transform: capitalize !important;
}
#userlist {
  background-color: whitesmoke;
  border-radius: 8%;
  padding: 15px;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#user:hover #userlist {
  display: block;
  position: absolute;
  z-index: 100;
  right: 50px;
}
#userlist li {
  list-style: none;
  padding: 2%;
  text-transform: capitalize !important;
}

.nav-right a {
  margin-left: 1rem;
  text-decoration: none;
}

/* Search/Filter Section */
.search-filter {
  display: flex;

  gap: 1rem;
  padding: 1rem;
}
#filterswrapper {
  max-width: 70%;
}
#filterswrapper label {
  text-wrap-mode: nowrap;
  margin: 15px 0;
}
/* Listing Section */
.listing {
  padding: 1rem;
}
.card {
  background-color: #ffffff;
  margin-bottom: 1rem;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card-image {
  max-width: 550px;
  margin: 0 auto;
}
.card-image img {
  width: 100%;
  max-width: 100%;
  height: 280px;
  border-radius: 8px;
  margin-top: 15px;
}
.card-content {
  padding: 1rem;
}
.socal-link {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.social-link :hover {
  color: #0d6efd;
}
.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 1.5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1em; /* Adjust this based on your font size */
  max-height: calc(1.5em * 1.5); /* 1.5 lines */
}
.truncatelatest {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1em; /* Adjust this based on your font size */
  max-height: calc(1em * 1); /* 1.5 lines */
}

/* Create Section */
.create-section {
  padding: 1rem;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  width: 100%;

  background-image: url("../images/moonsky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}
.background {
  margin: 0 auto;
  width: 100%;
  height: 300px;

  background-image: url("../images/passport.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  content: "";
}
#createForm {
  background-color: var(--formbg);
  padding: 20px;
  border-radius: 8px;
}
.create-section form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: var(--boxshadow);
}
.create-section form label {
  margin-top: 1rem;
}
.create-section form input,
.create-section form textarea {
  padding: 0.5rem;
  margin-top: 0.5rem;
}
.image-upload {
  margin-top: 1rem;
}
.preview-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
  margin-bottom: 1rem;
}

/* Login Section */
.login-section {
  padding: 1rem;
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
  background-image: url("../images/bagtraveler.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}
.login-section form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  background-color: var(--formbg);
  border-radius: 8px;
  padding: 42px;
  box-shadow: var(--boxshadow);
}
/* Details Section */
.details-section {
  padding: 1rem;
  /* max-width: 900px; */
  margin: 0 auto;
  display: flex;
  gap: 2rem;
}
.details-image {
  width: 300px;
  height: auto;
  object-fit: cover;
}
.details-content {
  flex: 1;
}

/* Buttons */
.btn {
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  background-color: #63c7e3;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.btn:hover {
  background-color: #57afc7;
}

/* .listingwrapper{
    height: 100vh;
  } */
@media only screen and (max-width: 800px) {
  #filterswrapper {
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  .nav-right {
    display: none !important;
  }

  footer span {
    font-size: 0.8em;
    margin-top: 17px;
  }
}
